<!DOCTYPE html>
{% load static %}
{% load BlogApp_tags %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
        {#        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">#}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <!-- owl carousel -->
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#        <script defer src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script>#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="content home_new_on">
            {% block content %}{% endblock %}
        </div>
        <div class="sidebar">
            <h1> Piyush_Chavda Blog</h1>
            <hr/>
            <hr/>
            <p>Watch here for Python Related content..!!</p>
            <p>The total number of published posts till today : {% total_posts %}</p>
            <div class="lete_st">
                <h3>Latest Posts :  {% total_posts %} </h3>{% show_latest_posts 100%}
                <h3>Most Commented Posts :  </h3>
                {% get_most_commented_posts as most_commented_posts %}
                <ul class="lat_post_ht">
                    {% for post in most_commented_posts %}
                        <li> <a href="{{ post.get_absolute_url }}"> <span id="la">{{ post.title }}</span></a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="hello_i">
      <div class="row_in">
        <div class="container">
          <!-- carousel code -->
          <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

              <!-- first slide -->
              <div class="carousel-item active skyblue">
                <div class="carousel-caption d-md-block">
                  <h3 class="icon-container" data-animation="animated bounceInDown">
                    <span> <i class='fab fa-python'></i> </span>
                  </h3>
                  <h3 data-animation="animated bounceInRight">
                     Python Full Stack
                  </h3>
                  <a href="/2023/02/21/python-full-stack/"> <button class="btn btn-primary btn-lg" data-animation="animated zoomInUp">Button</button></a>
{#                     <h2> <a href="{{ post.get_absolute_url }}"> {{ post.title }}</a> </h2>#}
                </div>
              </div>

              <!-- second slide -->
              <div class="carousel-item deepskyblue">
                <div class="carousel-caption d-md-block">
                  <h3 class="icon-container" data-animation="animated bounceInDown">
                    <span> <i class='fab fa-java'></i> </span>
                  </h3>
                  <h3 data-animation="animated bounceInUp">
                      Java full stack
                  </h3>
                  <a href="/2023/02/24/java-full-stack/"> <button class="btn btn-primary btn-lg" data-animation="animated zoomInRight">Button</button> </a>
                </div>
              </div>

              <!-- third slide -->
              <div class="carousel-item darkerskyblue">
                <div class="carousel-caption d-md-block">
                    <span>
                          <h3 class="dj_jango" data-animation="animated flipInX">
                            Django
                          </h3>
                    </span>
                  <h3 data-animation="animated flipInX">
                       Django Program
                  </h3>
                  <a href="/2023/02/21/django-program/"> <button class="btn btn-primary btn-lg" data-animation="animated lightSpeedIn">Button</button> </a>
                </div>
              </div>
            </div>

            <!-- controls -->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
          </div>

        </div>
      </div>
</div>

    <script>

(function($) {
  //Function to animate slider captions
  function doAnimations(elems) {
    //Cache the animationend event in a variable
    var animEndEv = "webkitAnimationEnd animationend";

    elems.each(function() {
      var $this = $(this),
        $animationType = $this.data("animation");
      $this.addClass($animationType).one(animEndEv, function() {
        $this.removeClass($animationType);
      });
    });
  }

  //Variables on page load
  var $myCarousel = $("#carouselExampleIndicators"),
    $firstAnimatingElems = $myCarousel
      .find(".carousel-item:first")
      .find("[data-animation ^= 'animated']");

  //Initialize carousel
  $myCarousel.carousel();

  //Animate captions in first slide on page load
  doAnimations($firstAnimatingElems);

  //Other slides to be animated on carousel slide event
  $myCarousel.on("slide.bs.carousel", function(e) {
    var $animatingElems = $(e.relatedTarget).find(
      "[data-animation ^= 'animated']"
    );
    doAnimations($animatingElems);
  });
})(jQuery);

    </script>

    </body>
</html>