<!DOCTYPE html>
{% extends 'BlogApp/base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
    <div class="hom_ee">
        <a href="/"> <i class="fa fa-home" style="font-size:48px;color:#f1f1f1"></i> </a>
        <h1>{{ post.title }}</h1>
    </div>
    <hr/>
    <p id='date'> Published on {{ post.publish }} by {{ post.author|title }}</p>
    {{ post.body|linebreaks }}
    <br/>
    <a href="/{{ post.id }}/share/" class="btn btn-lg btn-primary my_bnt"> Share Post By Email </a>
    <br/>
    <div class="sim_lar">
        <h4 class="simi_l">Similar Posts</h4>
        {%if similar_posts%}
            {%for post in similar_posts%}
                <h5> <a href="{{post.get_absolute_url}}">{{post.title}}</a> </h5>
            {%endfor%}
            {%else%}
            <p>No Similar Posts yet</p>
        {%endif%}
    </div>

    <br />

    <div class="comme_nt">
        {% with comments.count as comments_count%}
            <h2 class="com_men_t"><button class="modal-toggle btn btn-lg btn-primary my_bnt"> Add-Comment </button></h2>
        {%endwith%}
    <div class="com_in_main modalone">
    {% with comments.count as comments_count%}
            <h2 class="com_men_t">Total-Comment : {{comments_count}}  {{comment_count|pluralize}}</h2>
        {%endwith%}
            {%if comments %}
            {%for comment in comments %}
                <p id='ch'> comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
{#                    <div class="cb">{{comment.body|linebreaks}}</div>#}
                    <div class="cb" style="color:yellow;">{{comment.body|linebreaks}}</div>
                <hr />
            {%endfor%}
        {%else%}
            <p>There are NO Comments Yet !!!</p>
        {%endif%}
        {%if csubmit %}
            <h2>Your Comment Added Succefully</h2>
        {%else%}
            <form class="com_mnt_on" method="post">
                {{form.as_p}}
                {%csrf_token%}
{#                <input type="submit" name="" value="Submit-Comment">#}
                <input type="Submit" name="" class="btn btn-lg btn-success my_bnt" value="Submit-Comment">
            </form>
        {%endif%}
    </div>
    </div>
<script>
$('.modal-toggle').on('click', function(e) {
  e.preventDefault();
  $('.modalone').toggleClass('is-visible');
});
</script>
{%endblock%}